body {
}

.container-1, .container-2, .container-3 {
    border: 1px solid black;
    background-color: gray;
    height: 600px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.flex-scree-1 {
    border: 1px solid black;
    background-color: gray;
    height: 560px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.flex-button-menu-1 {
    display: flex;
    border: 1px solid black;
    padding: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    width: 800px;
}

.button {
    height: 37px;
    width: 99px;
    border: 1px solid black;
}